streamlit
faiss-cpu
sentence-transformers
numpy
timm
# requirements.txt

# Core Langchain and Hugging Face
langchain
langchain-community
langchain-huggingface
transformers[torch] # Includes PyTorch; use transformers[tensorflow] or transformers[flax] if preferred
torch 
sentence-transformers
timm
# PDF Processing and OCR
PyMuPDF # fitz
pdf2image
easyocr
